.flag_icon{
    width: 80px;
    height: 80px;
    padding: 20px;
}

.walletCell{
    width: 300px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid rgba(203, 169, 113, 0);
    box-shadow: 0px 2px 10px #CBA971;
    margin: 50px;
}

.text_priceWallet{
    font-size: 25px;
    font-weight: 500;
    font-family: Ubuntu;
    color: #CBA971;
}

.text_devisWallet{
    font-size: 20px;
    font-weight: 200;
    font-family: Ubuntu;
    color: #ACACAF;
}

.text_wallet{
    padding: 10px 30px;
}